body {
    margin: 0;
  }

.navbar {
    background-color:rgb(246, 150, 23);
    height: 48px;
    margin: 0px;
    text-align: justify;
    display: flex;
    align-items: center;
}

.navbar p {
    margin: 0px 10px
}

.search {
    margin: 10px;
}

.search label {
    display: block;
    margin-bottom: 20px;
}

.search input[type=text] {
    display: block;
    width: 30%;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
  }

.poster {
    width: 135px;
    height: 181px;
    /* border: 1px solid  rgb(200, 198, 188); */
    box-shadow: 4px 4px 15px black;
}

.movie {
    display:inline-block;
    width: 20%;
    height: 300px;
    background: rgb(236, 233, 222);
    margin: 10px
}

.movies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }