body {
    margin: 0;
  }

.navbar {
    background-color:rgb(246, 150, 23);
    height: 48px;
    margin: 0px;
    text-align: justify;
    display: flex;
    align-items: center;
}

.navbar p {
    margin: 0px 10px
}

.search {
    margin: 10px;
}

.search label {
    display: block;
    margin-bottom: 20px;
}

.search input[type=text] {
    display: block;
    width: 30%;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
  }