body {
    margin: 0;
  }

.navbar {
    background-color:rgb(246, 150, 23);
    height: 48px;
    margin: 0px;
    text-align: justify;
    display: flex;
    align-items: center;
}

.navbar p {
    margin: 0px 10px
}